<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>107315711863-393hdfeqelggvsghacluvqd1al1olgls.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.107315711863-393hdfeqelggvsghacluvqd1al1olgls</string>
	<key>API_KEY</key>
	<string>AIzaSyA1Ubr3TlK4hGHZf4a0rYpucRCZP0KSXxo</string>
	<key>GCM_SENDER_ID</key>
	<string>107315711863</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>xyz.fireslime.gravity-runner</string>
	<key>PROJECT_ID</key>
	<string>fireslime-gravity-runner</string>
	<key>STORAGE_BUCKET</key>
	<string>fireslime-gravity-runner.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:107315711863:ios:40531a444d3d7b2f24db72</string>
	<key>DATABASE_URL</key>
	<string>https://fireslime-gravity-runner.firebaseio.com</string>
</dict>
</plist>